mixin inputComponent(type="text", id, placeholder, requiredAttr= true)
  input(
    type= type,
    id= id
    placeholder= placeholder,
    class="input",
    required= requiredAttr
  )&attributes(attributes)
